/*Variables pour mes couleurs*/
:root {
  --background-color: #FFFBF9;
  --title-color: #1F1D1B;
  --elemnt-title-color: #E40375;
  --hover-btn: #91044B;
  --text-color: #3D1A28;
  --cards-sensi: #4BAE7F;
  --deco-elemnts: #FBDDE3;
  --cards-back: #FFC9C9;
  --double-card: #F7A8C4;
  --off-card: #555250;
  --off-card-bg: #555250;
  --off-card-text: #555250;
  --adjustments-card: #FFD0A0;
}