@use "../general/variables" as *;
.session-alert {

  &__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
  }

  &__content{
    @include min($desktop) {
      display: grid;
      grid-template-columns:  1fr 1fr;
      grid-template-rows: max-content 1fr;
      gap: 2rem;
      padding: 2.5rem 6.563rem;
      align-items: start;
    }
    @include between($tablet, $desktop) {
      padding: 2.5rem 5rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
  }

  &__title {
    font-family: var(--font-title), serif;
    color: var(--font-text-ev);
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-transform: uppercase;
    align-items: start;

    @include min($desktop) {
      font-size: 2rem;
    }
  }

  &__text {
    font-family: var(--font-text);
    color: var(--text-color);
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color);
    border-radius: 0.625rem;
    border: var(--elemnt-title-color) solid 3px;
    padding: 2.5rem 1.875rem;

    @include min($desktop) {
      grid-column: 2;
      grid-row: 1/3;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-text-ev);
    color: var(--text-color);
    padding-bottom: 1rem;
  }

  &__input {
    padding: 0.938rem;
    border-radius: 0.313rem;
    border: var(--elemnt-title-color) solid 2px;
  }

  &__button {
    font-family: var(--font-text-ev);
    padding: 1.25rem;
    border-radius: 0.313rem;
    background-color: var(--elemnt-title-color);
    color: var(--background-color);
    border: var(--elemnt-title-color) solid 2px;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    text-align: center;
    font-size: 1rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    color: var(--elemnt-title-color);
    font-family: var(--font-text-ev);
  }
}

strong {
  font-weight: bold;
  color: var(--elemnt-title-color);
}
