@use "../general/variables" as *;

.notices {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;

  @include min($tablet) {
    padding: 2.5rem 6.563rem;
  }

  @include min($desktop) {
    padding: 6.563rem;
    gap: 4rem;
  }


  &__title {
    font-family: var(--font-title);
    font-size: 2rem;
    display: block;
    color: var(--title-color);
    line-height: 2.813rem;
    text-transform: uppercase;

  }

  &__sub-title {
    font-family: var(--font-title);
    font-size: 1.25rem;
    display: block;
    color: var(--elemnt-title-color);
    padding-bottom: 20px;


  }
  &__text, &__link {
    font-family: var(--font-text);
    display: block;
    color: var(--text-color);
    line-height: 28px;
  }
  &__link{
    font-weight: bold;
    text-decoration: underline var(--elemnt-title-color);
    color: var(--elemnt-title-color);
  }
}

